<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Page</title>

    {% assets output="css/bootstrap.min.css", "css/clean-blog.css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}
    <style>
        html {overflow-x:hidden;}
        body {font-family:arial;margin:0;padding:0;}
        
        video, object {
            top:0;left:0;
            position:absolute;
        }
        
        h1, p {
            background:white;
            background-color:rgba(255, 255, 255, 0.8);
            /* For IE 5.5 - 7*/
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
            /* For IE 8*/
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
            position:relative;
            padding:10px;
        }
    </style>
</head>

<body>
    <!-- Main Content Page -->
    <div id="content"></div>

    <!-- Page Templates -->
    {% raw %}
    <script id="tpl-layout-basic" type="text/x-handlebars-template">
    <header class="intro-header" style="background-image: url('{{ object.picture }}');">
        <div class="container">
            <div class="row">
                &nbsp;
            </div>
        </div>
    
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-heading">
                <h1 data-name="name">{{ object.name }}</h1>
                <h2 class="subheading" data-name="message">{{ object.message }}</h2>
            </div>
        </div>
    </header>

    
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" data-name="description">
                    {{ object.description }}
                </div>
            </div>
        </div>
    </article>
    </script>

    <script id="tpl-layout-video" type="text/x-handlebars-template">
    <!-- HTML5 Video Code "Video For Everybody" http://camendesign.com/code/video_for_everybody -->
    <video autoplay="autoplay" loop="loop" autobuffer="autobuffer" muted="muted" poster="{{ object.picture }}" width="640" height="360">

        <source src="{{ object.video }}" type="video/webm" />
        
        <object type="application/x-shockwave-flash" data="/static/swf/flowplayer-3.2.1.swf" width="640" height="360">
            <param name="movie" value="/static/swf/flowplayer-3.2.1.swf" />
            <param name="allowFullScreen" value="true" />
            <param name="wmode" value="transparent" />
            <param name="flashVars" value="config={'playlist':['{{ object.picture }}',{'url':'{{ object.video }}','autoPlay':false}]}" />
            <img alt="{{ object.name }}" src="{{ object.picture }}" width="640" height="360" title="{{ object.description }}" />
        </object>
    </video>
    <script type="text/javascript" charset="utf-8">
    $(function(){
        // Helper function to Fill and Center the HTML5 Video
        jQuery('video, object').maximage('maxcover');
    });
    </script>

    </script>
    {% endraw %}

    <!-- jQuery -->
    {% assets "js/jquery.min.js", "js/jquery-ui.min.js", "js/chute.jquery.js", "js/maximage-2.0.js", "js/pusher-2.1.6.min.js", "js/handlebars.min.js", "js/js-signals.min.js", "js/hasher.min.js", "js/bootstrap.min.js", "js/clean-blog.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
    'use strict';
    $(document).ready(function( ) {
        var basic_template = $("script#tpl-layout-basic").html();
        var video_template = $("script#tpl-layout-video").html();

        var chute_object = {
            'feed': {{ feed_json|safe }},
            'project': {{ project_json|safe }},
            'templates': {
                'basic': basic_template,
                'video': video_template,
            },
        };

        Pusher.host    = 'localhost'
        Pusher.ws_port = 8080
        Pusher.wss_port = 8080
        var pusher = new Pusher('{{ pusher.PUSHER_KEY }}');
        var pusher_channels = {
            'project': pusher.subscribe(chute_object.project.slug),
            'box': pusher.subscribe(chute_object.project.slug +'-{{ mac_addr }}'),
        }

        pusher_channels.project.bind('reload', function(data) {
          window.location.reload();
        });
        pusher_channels.box.bind('reload', function(data) {
          window.location.reload();
        });


        $( "body" ).chute_controller(chute_object);
        window.chute = $( "body" ).data( 'chute-chute_controller' );

        //handle hash changes
        function handleChanges(newHash, oldHash){
            if ( newHash !== NaN && newHash !== '' ) {
                var pk = parseInt( newHash );
                window.chute.goto( pk );
            }
        }

        hasher.changed.add(handleChanges); //add hash change listener
        hasher.initialized.add(handleChanges); //add initialized listener (to grab initial value in case it is already set)
        hasher.init(); //initialize hasher (start listening for history changes)

    });
    </script>
</body>

</html>
