<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>&nbsp;</title>

    {% assets "css/bootstrap.min.css", "video-js/video-js.min.css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}
    {% assets "nprogress-0.1.6/nprogress.css", "simpleWeather-3.1.0/simpleWeather.css", "BigVideo/css/bigvideo.css" %}
        <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}

    <style>

         body {width:100%; height:100%; overflow:hidden, margin:0}
         html {width:100%; height:100%; overflow:hidden}
        .border{
            border:solid #c00 1px;
        }
        #content-markup {
            height:auto;
            max-height:45%;
            left:0px;
            bottom:0px;
            position:absolute;
            width:100%;
            z-index:1000;

            background:white;
            background-color:rgba(255, 255, 255, 1);
            /* For IE 5.5 - 7*/
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
            /* For IE 8*/
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
            /*border-radius: 25px;*/
        }
        #content-markup .header h1 {
            margin:0px;
            padding:0px;
        }
        #content-markup .header {
            font-size:1.6em;
            font-weight:bolder;
            background-color:#f2f2f2;
            padding:10px;
        }
        #content-markup .message {
            font-size:0.9em;
            padding:10px;
        }

    </style>

    {% assets "js/modernizr-2.8.3-custom.min.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

</head>

<body>
    <div id="weather" class="weather"></div>

    <!-- Main Content Page -->
    <div id="content" class="container-fluid"></div>

    <!-- Page Templates -->
    {% raw %}
    <script id="tpl-weather" type="text/x-handlebars-template">
        <h2>
        <i class="weather-symbol icon-{{ weather.code }}"></i>
        <span id="moment_in_time" class="weather-seperator weather-time">{{ time }}</span>
        <span class="weather-seperator weather-text">{{ weather.temp }}&deg;{{ weather.units.temp }}</span>
        </h2>
    </script>

    <script id="tpl-layout-no_content_template" type="text/x-handlebars-template">
        <header class="intro-header">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading no-content-found">
                    <h1 data-name="name">No Feed could be found<br/><small>Please ensure this box is connected to a project</small></h1>
                    <p><small>{{ settings.CORE_SERVER }}</small></p>
                </div>
            </div>
        </header>
    </script>

    <script id="tpl-layout-basic" type="text/x-handlebars-template">
        {{# if object.name }}
        {{# if object.message }}
        <div id="content-markup">
            <div class="header"><h1>{{ object.name }}{{# if object.description }}<br/><small>{{ object.description }}</small>{{/if}}</h1></div>
            <div class="message"><h1><p>{{ object.message }}</p></h1>
        </div>
        {{/if}}
        {{/if}}
    </script>

    <script id="tpl-layout-video" type="text/x-handlebars-template">
        <video id="video_fullscreen" class="video-js vjs-default-skin"
          controls preload="auto" width="640" height="264"
          poster="{{ object.picture }}"
          data-setup='{"example_option":false}'>
         <source src="{{ object.video }}" type='video/mp4' />
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
    </script>

    <script id="tpl-layout-image" type="text/x-handlebars-template">
        <div id="content-markup">
            <h1>{{ object.name }}<br/><small>{{ object.description }}</small></h1>
            <p>{{ object.message }}</p>
        </div>
        </script>
    </script>
    {% endraw %}

    <!-- jQuery -->
    {% assets "js/jquery.min.js", "js/jquery-ui.min.js", "js/chute.jquery.js", "js/jquery.fittext.min.js", "js/pusher-2.1.6.min.js", "js/handlebars.min.js", "js/js-signals.min.js", "js/hasher.min.js", "js/bootstrap.min.js", "js/clean-blog.js", "video-js/video.js", "js/URI.min.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "video-js/video-js.swf" %}
    <script>
      videojs.options.flash.swf = "{{ ASSET_URL }}"
    </script>
    {% endassets %}

    {% assets "nprogress-0.1.6/nprogress.js", "simpleWeather-3.1.0/jquery.simpleWeather.min.js", "momentjs-2.9.0/momentjs.lang.min.js", "BigVideo/lib/bigvideo.js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script>
    'use strict';

    $(document).ready(function( ) {
        var listen_to_pusher = function ( current_item, settings ) {
            if ( settings.project !== null ) {
                var pusher = new Pusher('{{ pusher.PUSHER_KEY }}', {
                                wsHost: location.host,
                                wsPort: "8080",
                                wssPort: "8080",
                                enabledTransports: ['ws', 'flash']
                             });

                var pusher_channels = {
                    'project': pusher.subscribe('presence'),
                }

                pusher_channels.project.bind('reload', function(data) {
                    console.log('triggered reload');
                    window.location.reload();
                });
                // pusher_channels.box.bind('reload', function(data) {
                //   window.location.reload();
                // });
                // pusher_channels.box.bind('goto', function(data) {
                //   handleChanges( data.pk );
                // });
            }
        };

        // Templates
        var no_content_template = $("script#tpl-layout-no_content_template").html();
        var basic_template = $("script#tpl-layout-basic").html();
        var video_template = $("script#tpl-layout-video").html();
        var image_template = $("script#tpl-layout-image").html();
        var image_left = $("script#tpl-layout-image").html();
        // Weather template
        var weather_tpl = $("script#tpl-weather").html();

        window.settings = {{ project_json|safe }};
        window.project = {{ settings|safe }};
        window.feed = {{ feed_json|safe }};

        var chute_object = {
            'feed': window.feed,
            'project': window.project,
            'settings': window.settings,
            'listeners': [listen_to_pusher],
            'templates': {
                'no_content': no_content_template,
                'basic': basic_template,
                'video': video_template,
                'video_full': video_template,
                'image': image_template,
                'image_left': image_left
            },
        };

        //handle hash changes
        function handleChanges( newPk ){
            if ( newPk !== NaN && newPk !== '' ) {
                var pk = parseInt( newPk );
                window.chute.goto( pk );
            }
            // if (newPk == 'next') {
            //     window.chute.next();
            // }
            // if (newPk == 'previous') {
            //     window.chute.previous();
            // }
        }

        hasher.changed.add(handleChanges); //add hash change listener
        hasher.initialized.add(handleChanges); //add initialized listener (to grab initial value in case it is already set)
        hasher.init(); //initialize hasher (start listening for history changes)

        /**
        * Progress Bar Handler
        */
        $( 'body' ).on( 'start_progress', function( event, num_seconds, feed_item ) {
            // console.log('on.start_progress num_seconds:' + num_seconds);
            // console.log(feed_item)
            window.BV = new $.BigVideo();
            window.BV.init();

            var current_second = 1;
            var window_width = $('body').width();

            var inc_amount = (1/num_seconds);
            console.log('on.start_progress inc_amount:' + inc_amount);

            NProgress.configure({
                'trickle': true,
                'trickleRate': 0.02,
                'trickleSpeed': 1000,
                'showSpinner': false
            });

            var n_progress_tick = function () {
                current_second++;
                if ( current_second >= num_seconds ) {
                    window.clearInterval(n_progress);
                }
                var set_percentage = current_second / num_seconds;
                //console.log('Percent:' + set_percentage);
                NProgress.set(set_percentage);
                //NProgress.inc(inc_amount);
            };
            var n_progress = window.setInterval(n_progress_tick, 1000);

            if (feed_item.video !== null) {
                //console.log(feed_item.video);
                var suffix = feed_item.video.split('.')
                suffix = suffix[1];
                window.BV.show([
                    { type: "video/"+ suffix,  src: feed_item.video },
                ], {ambient: true});
            } else {
                window.BV.show(feed_item.picture);
            }

        });

        // Date and Time
        moment.locale('de');
        var moment_in_time = function () {
            var now = moment().format("llll");
            $('#moment_in_time').html(now);
            return now;
        }
        var a_moment_in_time = window.setInterval(moment_in_time, 1000);

        $( 'body' ).on( 'end_progress', function( event ) {
            //console.log('on.end_progress');
            NProgress.done();
        });

        /**
        * Weather display handler
        */
        $( 'body' ).on( 'chute.begin', function( event ) {
            var settings = window.settings;
            var current_location = settings.location.location || 'Mönchengladbach, NRW, DE'; // can be lat,long or townname, state, ISO2 coutnry
            var woeid = settings.location.woeid || '';
            var unit = settings.location.unit || 'c'; // because fahrenheit blah

            $.simpleWeather({
                location: current_location,
                //woeid: woeid,
                unit: unit,
                success: function( data ) {
                    var weather_html = window.chute.options.renderer.compile( weather_tpl );
                    var html = weather_html({'weather': data, 'time': moment_in_time()});
                    //console.log(data);
                    $("#weather").html(html);
                },
                error: function(error) {
                    $("#weather").html('<p>{{ error }}</p>');
                }
            });
        });

        $( "body" ).chute_controller(chute_object);
        window.chute = $( "body" ).data( 'chute-chute_controller' );

    });
    </script>
</body>

</html>
